// import fonts
@font-face {
    font-family: "Frutiger";
    src: url(../fonts/Frutiger-Normal.ttf);
}

@font-face {
    font-family: 'Luxury-Gold';
    src: url(../fonts/Luxury-Gold.otf);
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter.ttf);
}

// import reset codes
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Frutiger", "Inter", sans-serif;
}

.container {
    width: 97%;
    margin: 0 auto;
}

.row {
    display: flex;
}

html {
    scroll-behavior: smooth;
}