.shoppingCardSmall {
    width: 100%;
    height: 298px;
    margin-bottom: 3px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #f6f6f6;

    .icon {
        position: absolute;
        top: 18px;
        right: 18px;
        z-index: 1;
        font-size: 23px;
        cursor: pointer;
    }

    .imageBox {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .smallCardDescription {
        width: 100%;
        height: 50%;
        padding: 20px 15px 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow-y: auto;

        .smallCardTitle {
            font-size: 14px;
            color: #070709;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        .info {
            font-size: 12px;
            color: #070709;
        }

        .info::after {
            display: block;
            content: "";
            width: 40px;
            height: 1px;
            background-color: #070709;
            margin: 15px 0 20px;
        }

        .price {
            font-size: 12px;
            font-weight: 600;
            color: #070709;
        }
    }
}